In [1]:
print("Hello World")

Hello World

Variables & Data Types

In [4]:
#Integer

age = 25
print("My Age is" , age)

My Age is 25

In [5]:
#Float

pi = 3.1416

print(pi)

3.1416

In [6]:
#String

my_name = "Tanvir"

print(my_name)

Tanvir

In [13]:
#Boolean

is_student = True
not_student = False


print(is_student)
print(not_student)

type(not_student)

True
False

bool

In [12]:
age = 25
print("My Age is "  + str(age))

My Age is 25

In [14]:
type(age)

int

In [17]:
age = "25"

print (type(age))

age = int(age)

print(type(age))

<class 'str'>
<class 'int'>